<app-navigation></app-navigation>
<div style="margin-top: 4rem">
  <button (click)="onUserProfileHandler()" *ngIf="hasUser; else elseBlock">
    Ver perfil
  </button>
  <ng-template #elseBlock>
    <button (click)="onUserCreateHandler()">Crear usuario</button>
    <button (click)="onUserSigninHandler()">Ingresar</button>
  </ng-template>
</div>

<span>
  <button (click)="onDowloadPDF()">Descargar PDF</button>
</span>

<!-- <app-post-card></app-post-card> -->
<span *ngIf="user.email">{{ user.email }}</span>
<app-products></app-products>
<!-- 
<h2>Instangular</h2>
<app-post-card state></app-post-card> -->
